/* Colors for Gambeth */
:root {
    --color-1: #6F74E5;
    --color-2: #02024B;
    --color-2-rgb: rgb(2, 2, 75);
    --color-3: #EE8C71;
    --color-4: #F3F9D2;
}



/* Web3Onboard */
:root {
    --account-center-z-index: 2222;
    --onboard-font-family-regular: "Ubuntu";
    --onboard-font-family-light: "Ubuntu";
    --onboard-font-family-ultralight: "Ubuntu";
    --onboard-font-family-medium: "Ubuntu";
    --onboard-font-family-semibold: "Ubuntu";
    --onboard-font-family-bold: "Ubuntu";
    --onboard-font-family-black: "Ubuntu";
    --account-center-position-top: -12px;
    --account-center-position-right: -12px;
    --swiper-navigation-size: 25px !important;
}

/* Global Colors */
:root {
    --color-default: #000;
    --color-body-background: var(--color-1);
    --color-primary: #7b5243;
    --color-secondary: #986856;
    --color-buttom: #00aeef;
    --color-bg-error: #7b5448;

    --color_gray: #b4b4b4;
}

/* Nav Menu Colors */
:root {
    --color-nav-background: var(--color-2);
    --color-nav: #fff;
    --color-link-nav: #8a8a8a;
    --color-link-nav-hover: var(--color-3);

    --color-from-control-search-border: #424242;
    --color-from-control-search-text: #85858591;
    --color-from-control-search-focus: #9e9e9e;
    --color-from-control-search-border-focus: #919191;
}

/* Footer Menu Colors */
:root {
    --color-footer: #969696;
    --color-fotter-hover: #ffffff;
    --color-footer-lines: #21dfc2;
    --color-footer-background: var(--color-2);
    --color-footer-social-background: #222636;
    --color-footer-social-background-hover: #2cc3fa;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--onboard-font-family-regular);


    color: var(--color-default);
    background-color: var(--color-body-background) !important;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-4)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-2)
}

a {
    color: var(--color-3) !important;
    text-decoration: none !important;
    transition: 0.3s !important;
}

a:hover {
    color: rgba(var(--color-nav-hover), 0.7) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--onboard-font-family-medium);
}

.text_gray {
    color: var(--color_gray) !important;
    font-weight: lighter !important;
}

/*
.btn-get-started {
    font-family: var(--onboard-font-family-medium);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    height: 45px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff !important;
    background: #8b310b;
}
*/

.button {
    margin-top: 20px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #dfdfdf;
    padding: 10px 0px;
    transition: 0.3s all;
}

button:disabled {
    background: #f5f5f5;
}


.btn-get-started {
    font-family: var(--onboard-font-family-medium);
    background-image: linear-gradient(to left, #ee8c71 5%, #cf3106 51%, #ee8c71 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-4) !important;
    box-shadow: 0px 0 10px #170338;
    border-radius: 60px;
    display: block;
}

.btn-get-started:hover {
    background-position: right center;
    color: #fff !important;
    text-decoration: none;
    box-shadow: 0px 0 100px #170338;
}

/*
.btn-get-started.connected {
    background: #6e2505;
}

.btn-get-started:hover {
    background: #c2420b;
    color: #fff !important;
}

*/
.button.green {
    background: #009b0d;
    color: #ffffff;
}

.button.green:hover {
    background-color: #008d0c;
}

.button.red {
    background: #e50101;
    color: #ffffff;
}

.button.red:hover {
    background-color: #d10000;
}

.button.blue {
    background-color: rgb(54 107 255);
    color: #fff;
}

.button.blue:hover {
    background-color: rgb(31 90 255);
}

.button.alert-danger {
    color: #58151c;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.bi-trash3-fill,
.bi-plus-circle-fill {
    transition: 0.3s all;
    color: #bbbbbb;
}

.bi-trash3-fill:hover {
    color: red;
}

.bi-plus-circle-fill:hover {
    color: green;
}

#button-tooltip-2>.tooltip-inner {
    width: 300px !important;
    background-color: #011425;
    color: #ffffff;
    border: 1px solid #062e56;
}

#button-tooltip-2>.tooltip-arrow {
    border-top: 1px solid #062e56;
}

table {
    font-family: var(--onboard-font-family-regular);
    font-size: 13px !important;
    cursor: pointer;
}

table th {
    font-family: var(--onboard-font-family-semibold);
    font-weight: 500;
    background-color: #102232 !important;
    color: #fff !important;
}

table.table-hover tbody tr td:hover {
    background-color: #ffffff;
}

.input_error {
    border: 1px solid red !important;
}

.text_error {
    font-size: 12px;
    color: red;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 160px 0;
}

section h1 {
    text-align: center;
    padding: 10px 0px;
}

.section-bg {
    /*background-color: #f8fbfe;*/
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #fff;
    font-family: var(--onboard-font-family-semibold);
}

.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--color-4);
}

#hero {
    width: 100%;
    position: relative;
    background: url("../img/hero-bg.jpg") top center fixed;
    background-size: cover;
    padding-top: 140px;
}

#hero:before {
    content: "";
    background: rgba(111, 117, 229, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 60px;
}

#hero h1 {
    font-size: 75px;
    font-weight: bold;
    text-align: left;
    background: -webkit-linear-gradient(56deg, #ffffff 10%, rgb(240, 255, 140) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--onboard-font-family-bold);
}

#hero h2 {
    font-size: 22px;
    text-align: left;
    color: var(--color-4);
    font-family: var(--onboard-font-family-regular);
    margin-bottom: 20px;
    padding: 25px 0px;
}

#hero .animated {
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

/************** SLICK SLIDER ****************/

.slick-slider {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    flex-direction: column;
    margin: 0px auto;
    height: 330px;
    /* background: red; */
    padding-top: 10px 0px;
    padding: 10px 0px;
}

.slick-list {
    height: 325px !important;
}

.slick-slide {
    text-align: center;
    font-size: 18px;
    /*width: 340px !important;*/
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    margin-left: 10px;
    margin-right: 10px;
    */
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    box-shadow: rgb(209 0 0 / 0%) 0px 0px 0px 0px, rgb(0 115 135 / 14%) 1px 6px 9px 0px
}

.slick-slide .box_market{
    margin: 0px 10px;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.6s all;
}

.slick-slide:hover img {
    transform: scale(1.02);
    -webkit-filter: brightness(.5);
    filter: brightness(.7);
}


.slick-slide .market_title {
    font-family: var(--onboard-font-family-regular);
    font-size: 16px;
    padding: 10px;
    text-align: left;
    height: 40px;
    line-height: 20px;
    color: var(--color-default);
}

.slick-slide .market_desc {
    font-family: var(--onboard-font-family-bold);
    font-weight: bold;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    color: var(--color-3);
}

.slick-next,
.slick-prev {
    opacity: 0;
    z-index: 2;
    background: #ffffff00;
}

.slick-next:hover,
.slick-prev:hover {
    opacity: 1;
    z-index: 2;
    background: #ffffff00;
}

.slick-slider:hover .slick-arrow {
    color: #000;
    background-color: #fff;
    opacity: 1;
    box-shadow: var(--shadows-dropShadowSmDark)
}

.slick-prev {
    left: -4px !important;
}

.slick-next {
    right: 6px !important;
}

.slick-next svg {
    right: -10px !important;
}

.slick-arrow svg {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.05);
    z-index: 999;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    display: flex !important;
    background-color: #fff !important;
    opacity: 1;
}

.slick-arrow svg:hover {
    opacity: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.3);
    ;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/

/* Home Page Custom Header
  ------------------------------*/
.index-page .header {
    --color-nav-background: var(--color-2);
    --color-nav-background-dropmenu: var(--color-2);
    --color-nav: rgba(255, 255, 255, 0.515);
    --color-nav-hover: #ffffff;
}

/* Home Page Custom Header on page scroll
  ------------------------------*/
.index-page.scrolled .header {
    --color-nav-background: #011425f0;
    --color-nav-background-dropmenu: #011425f0;
    --color-nav: #969696;
    --color-nav-hover: #fff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}

.header {
    color: var(--color-nav);
    background-color: var(--color-nav-background);
    font-family: var(--onboard-font-family-regular);
    padding: 32px 0;
    z-index: 1000 !important;
    transition: all 0.5s;
}

.header .navmenu a {
    color: var(--color-link-nav) !important;
    padding: 6px;
    transition: 0.5s all !important;
    position: relative;
}

.header .navmenu a:hover,
.header .navmenu a.active {
    color: var(--color-link-nav-hover) !important;
}

.header .navmenu .navbar-collapse a:after {
    content: "•";
    display: block;
    font-size: 1.5em;
    color: var(--color-3);
    position: absolute;
    bottom: -0.55em;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}

.header .navmenu a.active:after,
.header .navmenu a:hover:after {
    opacity: 1;
    left: 50%;
}

.header .navmenu span.navbar-brand a:after {
    opacity: 0;
}

.header img.logo {
    transition: ease-in 0.3s !important;
}

.header img.logo:hover {
    transform: scale(1.01);
}

.has-search {
    position: relative;
    width: 38% !important;
    margin-right: 10px;
}

.has-search .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: var(--color-from-control-search-text) !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-nav-background) !important;
    background-clip: padding-box;
    border-color: var(--color-from-control-search-border) !important;
    border-radius: 8px !important;
    transition: all 0.3s !important;
}

.has-search .form-control::placeholder {
    color: var(--color-from-control-search-text) !important;
}

.has-search .form-control:focus {
    color: var(--color-from-control-search-focus) !important;
    border-color: var(--color-from-control-search-border-focus);
    box-shadow: inset 0 1px 1px rgba(122, 122, 122, 0.075), 0 0 5px rgba(126, 126, 126, 0.4);
}

.form-group:focus-within .form-control-feedback {
    color: #858585 !important;
    transition: all 0.3s !important;
}

.form-group:focus-within .form-control::placeholder {
    color: #858585 !important;
}

.has-search .form-control {
    padding-left: 33px;
    border-color: #e1e1e138 !important;
}

@keyframes badgeBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}

.badge {
    animation: none;
    /* Inicialmente sin animación */
    animation-iteration-count: 1;
    /* Reproducción una vez */
}

.index-page.scrolled .has-search .form-control {
    border-color: #e1e1e138 !important;
}

.index-page.scrolled .header .wallet_connect_button {
    border-color: #e1e1e138 !important;
}


.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 35px;
    height: 15px;
    text-align: center;
    pointer-events: none;
    color: #464646;
    top: 20%;
}

.index-page.scrolled .form-control-feedback {
    color: #464646 !important;
}

.index-page .header .wallet_address,
.index-page .header .wallet_connect_button {
    color: #9c9c9c;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 35px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 2 !important;
    border: 1px solid #97979749;
    transition: all 0.3s !important;
}

.index-page .header .wallet_address:hover,
.index-page .header .wallet_connect_button:hover {
    background-color: #9999991f;
    border: 1px solid #85858549;
    color: #7e7e7e;
}

.header .dropdown-toggle::after {
    content: none;
}

.header .wallet_address {
    display: flex;
    padding: 10px 18px !important;
}

.header .wallet_address i {
    padding-left: 8px !important;
}


.header #cart_menu_num {
    position: absolute;
    top: 5px;
    left: 80%;
    background: rgb(182, 57, 57);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-style: normal;
    font-weight: 100;
    font-family: var(--onboard-font-family-light);
}

.header .dropdown-menu {
    background-color: var(--color-nav-background-dropmenu);
    padding-left: 10px;
    top: 52 !important;
    z-index: 1;
    opacity: 1 !important;
    width: 100%;
}

.header .dropdown-menu a:hover {
    color: var(--color-link-nav-hover);
    top: 120%;
}

button.swithToChain {
    background-color: transparent;
    border: none;
    transition: 0.3s all !important;
}

button.swithToChain:hover {
    background-color: transparent;
    color: var(--color-link-nav-hover);
}

.notification {
    position: fixed;
    top: 100px;
    /* Margen superior deseado */
    right: 0;
    background-color: #007bff;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    padding: 10px;
    transition: opacity 0.3s;
    opacity: 0;
    /* Inicialmente invisible */
    z-index: 999;
    /* Asegura que esté sobre otros elementos */
}

/************* CART *****************************/

.cart .container {
    max-width: 800px;
}

.cart_table button {
    width: 10px;
    height: 0px;
}

.cart_table p {
    font-family: var(--onboard-font-family-light);
}

.bids-text {
    color: #28a745;
    /* Estilo de color para Bids */
    /* Otros estilos específicos para Bids */
}

.asks-text {
    color: #dc3545;
    /* Estilo de color para Asks */
    /* Otros estilos específicos para Asks */
}

/************* MENU FRAME MOTION ****************/

.header .dropdown-menu .wallet_balance {
    font-size: 17px;
    padding-top: 15px !important;
    margin: 0px !important;
}

.header .dropdown-menu .dropdown-item {
    padding: 0px !important;
}

.header .dropdown-menu .animated-line {
    height: 45px !important;
    display: block;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.header .dropdown-menu .animated-line li {
    transition: 0.3s all;
}

.header .dropdown-menu .animated-line:hover li {
    color: var(--color-link-nav-hover) !important;
}

.header .dropdown-menu .animated-line.balance {
    font-weight: 500;
    padding-bottom: 0px !important;
}

.dropdown-divider {
    height: 0;
    margin: var(--bs-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid #c2c2c2 !important;
    opacity: 1;
}

.header .wallet_deposit,
.wallet_disconnet {
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #3e3e3e;
    background-color: #ffffff00;
    color: var(--color-link-nav);
    width: 140px;
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: 0.2s all;
}

.header .wallet_disconnet {
    background-color: #00000000 !important;
    /* color: #fff; */
}

.header .wallet_disconnet:hover {
    background-color: #0f0f0f50 !important;
    /* color: #fff; */
    color: var(--color-3);
}

.header .wallet_deposit:hover {
    background-color: #ffffff00;
    border: 1px solid #555555;
    color: var(--color-3);
}


/************* END MENU FRAME MOTION ************/

.success_alert,
.error_alert {
    position: fixed !important;
    z-index: 9;
    font-family: var(--onboard-font-family-regular);
    margin: 64px 0px 0px;
    top: 0;
    right: 0;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    height: 40px;
    color: #fff;
    background-color: var(--color-bg-error);
    border-bottom: 1px solid var(--color-gray);
    position: unset;
    width: 100%;
}

@media (max-width: 1200px) {
    .header .logo {
        order: 1;
    }

    .header .navmenu {
        order: 3;
    }
}

/*--------------------------------------------------------------
# Browse Markets
--------------------------------------------------------------*/

.browseMarket {
    min-height: 80vh;
    background-image: radial-gradient(circle, rgb(195, 243, 255) 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 10%);
    z-index: -10;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: var(--onboard-font-family-semibold);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0px 30px;
    outline: none;
    cursor: pointer;
    color: #13136c !important;
}

.faq .faq-list .icon-help {
    font-size: 18px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #02024b;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #2487ce;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}


/*--------------------------------------------------------------
# Detail Market
--------------------------------------------------------------*/

.detail_market {
    display: flex;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.detail_market .content {
    display: flex;
    padding-right: 2rem;
    padding-left: 1.5rem;
    column-gap: 1.5rem;
    justify-content: center;

}

.detail_market .content .inside {
    display: flex;
    column-gap: 1.5rem;
}

.detail_market .left_panel {
    width: calc(100vw - 420px);
    max-width: 800px;
}

.detail_market .left_panel .top {
    display: flex;
}

.detail_market .left_panel .top .image img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.detail_market .title {
    font-family: var(--onboard-font-family-medium);
    font-size: 25px;
    padding-top: 20px;
    line-height: 25px;
}

.detail_market .title_gray {
    font-family: var(--onboard-font-family-regular);
    font-size: 14px;
    padding-top: 5px;
    color: var(--color_gray);
}

.detail_market .title_gray.first {
    margin-right: 20px;
}

.detail_market .table {
    min-height: 100px;
}

.detail_market .table .lds-ripple div {
    margin-top: 0px;
}

.detail_market .no_market {
    display: inline;
    height: 40vh;
    text-align: center;
    font-family: var(--onboard-font-family-semibold);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/************ COLAPSE **************/

.module {
    font-size: 1rem;
    line-height: 1.5;
}


.module #collapseAbout.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
    transition: 0.5s all;
}

.module #collapseAbout.collapsing {
    height: 3rem;
}

.module h3 {
    font-family: var(--onboard-font-family-semibold);
    font-weight: normal;
    font-size: 19px;
}

.module p {
    font-family: var(--onboard-font-family-regular);
    font-weight: normal;
    text-align: justify;
    font-size: 16px;
}

.module a {
    font-family: var(--onboard-font-family-regular);
    font-weight: normal;
    font-size: 14px;
}

.accordion {
    --bs-accordion-btn-focus-border-color: #5e2c2c !important;
    --bs-accordion-active-color: #000 !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(215 215 215 / 25%) !important;

    margin-bottom: 40px;
}

.accordion-body {
    padding: 0 !important;
}

.accordion-button {
    font-family: var(--onboard-font-family-semibold) !important;
    font-size: 19px !important;
}

.accordion-button:focus {
    border-color: #02024b !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
}

.accordion .order_block_bids {
    height: auto;

}

.accordion .order_block_asks {
    height: auto;
}

.accordion .order_block_asks .price_shares .option {
    margin: 9.5px 0px;

}

.accordion .order_block_asks .price_shares .option.price {
    color: var(--color-3);
    font-family: var(--onboard-font-family-semibold);
}

.accordion .order_block_asks .price_shares .option.share {
    font-family: var(--onboard-font-family-medium);
}


.last_price_data {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: #f1f1f1;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    font-size: 15px;
    font-family: var(--onboard-font-family-normal);
    color: #929292;
    font-weight: 500;
    padding: 5px 0px;
}

.last_price_data:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.market_option_selected {
    display: flex;
    margin: 0px 0px;
    font-family: var(--onboard-font-family-regular);
    font-size: 12px;
}

.market_option_selected p {
    display: flex;
    margin: 0px 0px;
    font-family: var(--onboard-font-family-semibold);
}

.modal-header {
    padding: 3px 10px !important;
}

.modal-header .modal-title {
    font-size: 18px !important;
    font-family: var(--onboard-font-family-semibold);
}

.modal-header .btn-close {
    height: 1px !important;
    width: 1px !important;
    padding: 6px !important;
    margin: 0 !important;
}

.modal-body {
    padding: 0px !important;
    cursor: pointer !important;
}

.modal-body .form-check {
    padding: 8px 12px;
}

.modal-body .form-check-input:checked {
    background-color: #97abd7;
    border-color: #6461b1;
}

.modal-body .form-check .form-check-label {
    font-family: var(--onboard-font-family-regular);
    font-size: 17px;
}

.modal-body .form-check.active {
    background-color: #e7e7e7;
}

.modal-body .form-check:hover {
    background-color: #e7e7e7;
}

.modal-body .form-check label {
    cursor: pointer !important;
}

.modal-body .form-check-input[type=radio] {
    cursor: pointer;
}

.nav-link {
    color: #000 !important;
    font-family: var(--onboard-font-family-medium);
}

.nav-link.active {
    color: var(--color-3) !important;
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top: 0px !important;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.accordion-body .nav-tabs {
    margin-bottom: 0px !important;
}

.tab-content .market_option_selected {
    justify-content: end;
    padding-right: 13%;
}

.market_option {
    padding: 4px 2px;
    margin: 2px 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    font-family: var(--onboard-font-family-regular);

    font-size: 14px;
}

.market_option:hover {
    background-color: #f1f1f1;
}

.market_option.active {
    background-color: #102232;
    color: #fff;
}

.market_option p {
    padding: 0px 5px;
    margin: 0px;
}

.market_option p.price {
    font-family: var(--onboard-font-family-semibold);
}

/***********************************/




/***********************************************************************************/

.detail_market .stiky_block {
    height: fit-content;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
    margin-top: 0rem;
    position: sticky;
    position: -webkit-sticky;
    top: 7rem;

}

.box {
    width: 340px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 6px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    row-gap: 1.5rem;
    background-color: rgb(255, 255, 255);

}

.box .box_header {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 10px;
}

.box a {
    color: #000 !important;
    cursor: pointer;
    font-family: var(--onboard-font-family-semibold);
}

.box a.buy {
    color: green !important;
    padding-bottom: 10px;
    border-bottom: none;
    font-weight: bold;
    transition: none !important;
}

.box a.sell {
    color: red !important;
    padding-bottom: 10px;
    border-bottom: none;
    font-weight: bold;
    transition: none !important;
}

.box a.active.buy {
    border-bottom: 2px solid green;
}

.box a.active.sell {
    border-bottom: 2px solid red;
}

.box .box_content {
    padding: 20px 13px;
}

.box .box_content .bi-info-circle {
    padding-top: 10px !important;
}

.inputStyle {
    display: flex;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
}

.inputStyle:hover {
    border: 1px solid #e4e4e4;
}

.box .buttonStyle {
    border: none;
    width: 30px;
    padding: 3px 0px;
    background: #e5e5e5;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.5s all;
}

.box .buttonStyle:hover {
    background: #cccccc;
}

.box .form-control {
    background-color: transparent !important;
    font-family: var(--onboard-font-family-regular);
}

.box .form-control:focus {
    /*
    color: var(--color-from-control-search-focus) !important;
    border-color: var(--color-from-control-search-border-focus);
    box-shadow: inset 0 1px 1px rgba(122, 122, 122, 0.075), 0 0 5px rgba(126, 126, 126, 0.4);
    */
    border: none;
    box-shadow: none;
    outline: none;
}

.box .inputData .inputDataTitle {
    margin: 10px 0px;
    margin-right: 5px;
    font-family: var(--onboard-font-family-semibold);
    font-weight: normal;
    font-size: 16px;
}

.box .dropdown-menu {
    opacity: 1;
    display: block;
    position: absolute;
    cursor: pointer;
    transform: none;
    top: 36px;
    right: -17px;
    padding: 6px;
    width: 20px;
    min-width: 68px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
    line-height: 2;
}

.box .dropdown {
    padding-right: 0px;
    cursor: pointer;
}

.box .dropdown a {
    font-family: var(--onboard-font-family-regular);
}

.box .dropdown a:hover {
    color: var(--color-3) !important;
}

.text_max_c {
    color: green;
    font-weight: bolder;
}

/*--------------------------------------------------------------
# Market Tabs
--------------------------------------------------------------*/

.market_tabs {
    min-height: 60vh;
    background-color: #fff;
}

.market_tabs .nav-item {
    transition: 0.2s all;
    border-radius: 10px;
}

.market_tabs .nav-link:hover {
    border: 1px solid var(--color-1);
    border-radius: 10px;
}

.market_tabs .nav-item.active {
    border-radius: 10px;
    background-color: var(--color-1);
}

.market_tabs .nav-item.active .nav-link {
    color: #fff !important;
    border: 1px solid rgba(255, 0, 0, 0);
}

.market_tabs .nav-tabs {
    border-bottom: none;
    font-family: var(--onboard-font-family-semibold);
}

.market_tabs .nav-tabs .nav-link {
    font-family: var(--onboard-font-family-semibold);
}

.c-dhzjXW-iuYlq-css {
    flex-direction: column;
    gap: 1.25rem;
}

.c-dhzjXW {
    display: flex;
}

.c-cYEHai {
    padding: 0.25rem 0.50rem 0.75rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.c-bQzyIt {
    display: grid;
}

.c-dhzjXW-iQMpow-css {
    animation: auto ease 0s 1 normal none running none;
}

.c-cZDZbz {
    flex-direction: column;
    padding: 1rem 1rem 0.5rem;
    height: 100%;
    min-height: 190px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e4e4e455;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02), 0px 6px 12px rgb(111 117 229 / 40%);
    cursor: pointer;
    color: black;
    transition: all 0.2s ease 0s;
}

.c-cZDZbz:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02), 0px 6px 12px rgb(111 117 229 / 60%);
}

.c-goxxzP {
    width: 100%;
    gap: 12px;
    overflow: hidden;
    height: 75px;
}

.c-chvCSy {
    flex-basis: 104px;
    width: 72px;
    height: 72px;
    border-radius: 30px;
}

.c-chvCSy img {
    flex-basis: 104px;
    width: 72px;
    border-radius: 5px;
}

.c-hwskUZ {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    flex-basis: 100%;
}

.c-gURjzw {
    width: 100%;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 0px;
}

.c-jvuvAf {
    width: 100%;
    justify-content: space-between;
    height: 27px;
}

.c-dhzjXW-igIRObP-css {
    margin-top: 0.5rem;
}

.c-dqzIym-ickcwvy-css {
    color: #808080 !important;
    font-size: 12px;
    line-height: 1.2;
    transition: all 0.2s ease 0s;
}

.c-dqzIym-jalaKP-weight-normal {
    font-weight: 400 !important;
}

.c-dqzIym-cTvRMP-spacing-normal {
    letter-spacing: 2;
}

.c-dqzIym-fxyRaa-color-normal {
    color: var(--colors-shadeDarker);
}

.c-dqzIym {
    font-family: var(--onboard-font-family-light) !important;
    margin: 0px;
    transition: all 0.2s ease 0s;
}

.c-gYYhNE {
    gap: 0.1rem;
}

.c-fGHEql {
    width: 100%;
}

.c-dqzIym-icCuRIN-css {
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.c-dqzIym-hzzdKO-size-md {
    font-size: 15px;
    line-height: 1.25;
}

.c-dqzIym-ojJRN-color-dark {
    color: rgba(0, 0, 0, 0.87);
}

.c-dqzIym-eYAYgJ-weight-semi {
    font-weight: 600 !important;
}

.c-dqzIym-cTvRMP-spacing-normal {
    letter-spacing: 0;
}

.c-dqzIym {
    font-family: var(--onboard-font-family-semibold) !important;
    margin: 0px;
    transition: all 0.2s ease 0s;
}

.c-gTTOYL {
    width: 100%;
    margin-top: 10px;
}

.c-dhzjXW-iimJBbq-css {
    width: 100%;
    gap: 0rem;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-top: 5px;
    overflow-y: hidden;
    mask-image: linear-gradient(white 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(white 65%, transparent 100%);
}

.c-dhzjXW-iNImiH-css {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.c-dhzjXW-ifvwpwb-css {
    gap: 1.5rem;
    justify-content: space-between;
    width: 100%;
}

.c-jKkUoB {
    display: flex;
    margin: 0.25rem 0px 0.35rem;
    color: transparent;
    border: unset;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.c-jHpYkO {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.c-dhzjXW-iczTXoS-css {
    width: 100%;
    font-size: 12px;
    color: #808080 !important;
    transition: all 0.2s ease 0s;
    position: relative;
}

.c-dhzjXW-ieVbBTE-css {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.c-PJLV {
    font-size: 12px;
    color: #808080;
    font-family: var(--onboard-font-family-semibold);
}

.market_tabs .market_option {
    border: none !important;
    margin: 0 !important;
    padding: 2px 2px !important;
}

.market_tabs .market_option:hover {
    background-color: transparent !important;
}

.market_tabs .slick-slide {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.market_tabs .slick-slider {
    padding: 0px !important;
}

/*--------------------------------------------------------------
# Create Market
--------------------------------------------------------------*/

.create_market {
    font-family: var(--onboard-font-family-light);
}

.create_market .container {
    max-width: 800px;
}

.create_market .form-control:focus {
    border-color: #dbdbdb;
    box-shadow: inset 0 1px 1px rgba(168, 168, 168, 0.075), 0 0 5px rgba(177, 177, 177, 0.4);
}

.create_market .form-control::placeholder {
    color: var(--color-from-control-search-text) !important;
}

.create_market span.total_cost {
    font-size: 19px;
    color: #00750a;
}

.create_market .react-datepicker__input-container .form-control {
    width: 180px;
}


.create_market i {
    cursor: pointer;
}

.create_market .bi-info-circle {
    margin-left: 5px;
}

.upload_image {
    position: relative;
    display: inline-block;
}

.upload__image-wrapper {
    cursor: pointer;
}

.upload__image-wrapper img {
    width: 80px;
}

.upload__image-wrapper.table_outcomes img {
    width: 50px !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.upload_image:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 17px;
    color: rgb(190, 190, 190);
    margin: 0 3px;
    cursor: pointer;
    transition: 0.2s all;
}

.overlay i:hover {
    color: rgb(255, 255, 255);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: #fff;
    background: url("../img/hero-bg.jpg") top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
}

.footer:before {
    content: "";
    background: var(--color-footer-background);
    opacity: 0.93;
    position: absolute;
    inset: 0;
}

.footer .footer-content .footer-info {
    margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
    color: var(--color-primary);
}

.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
}

.footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-content .social-links a:hover {
    background: var(--color-primary);
    text-decoration: none;
}

.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-content .footer-links {
    margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-links ul li {
    padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}

.footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: #fff;
}

.footer .footer-legal .credits a {
    color: var(--color-primary);
}

.footer .footer_logo {
    width: 180px;
    padding-bottom: 10px;
}

/* SPINER */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #001d42;
    opacity: 1;
    border-radius: 50%;
    margin-top: 180px;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


/* RESPONSIVE */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 380px) {
    .header{
        padding: 50px 0px;
    }

    .header .dropdown-menu {
        margin-top: 40px;
    }

    .c-cYEHai{
        padding: 0px !important;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 55px !important;
    }

    .hero h2 {
        font-size: 20px !important;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer .social-links{
        justify-content: center;
    }
}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {

    .footer .footer-content .footer-links.text-end {
        display: flex;
        justify-content: center !important;
        width: 100%;
    }
}



/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

}